<div class="cta">
    <div class="container">
        <div class="cta-inner">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-content">
                        <h3>{{ 'Fique por dentro de tudo que acontece ao seu redor'|trans }}</h3>

                        <p>
                            {{ 'Uma vez por mês, publicaremos seu e-mail informando sobre eventos próximos. Prometemos que não compartilharemos seu endereço de e-mail. Você sempre pode ter uma opção para cancelar a inscrição.'|trans }}
                        </p>
                    </div><!-- /.cta-content -->
                </div><!-- /.col-* -->

                <div class="col-md-4">
                    <div class="cta-form">
                        {{ render(controller('FrontBundle:Subscriber:form', {request: app.request})) }}
                    </div><!-- /.cta-form -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.cta-inner -->
    </div><!-- /.container -->
</div><!-- /.cta -->