<div class="hero-wrapper">
    <div class="hero">
        <div class="container">
            <h1>{{ 'Descubra Florianópolis'|trans }}</h1>
            <p>{{ 'Encontre os melhores lugares ou lugares da sua cidade usando o nossa plataforma. Comece procurando qualquer coisa hoje.'|trans }}</p>

            {{ form_start(filter, {'name': 'filter-hero-form'}) }}
            {{ form_widget(filter) }}
            {{ form_end(filter) }}

            {% if categories_popular|length %}
                <div class="hero-categories">
                    <strong>{{ 'Categorias Populares'|trans }}</strong>

                    <ul>
                        {% for category in categories_popular %}
                            <li>
                                <a href="{{ path('category_detail', {'slug': category.getSlug()})}}">
                                    {{ category.getName() }} <span>({{ category.getListings()|length }})</span>
                                </a>{% if not loop.last %},{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div><!-- /.hero-categories -->
            {% endif %}
        </div><!-- /.container -->
    </div><!-- /.hero -->
</div><!-- /.hero-wrapper -->