{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'categories' %}

{% set title = 'Categorias'|trans %}

{% set actions = [
	{
		'link': path('admin_category_create'),
		'title': 'Nova Categoria'|trans,
	}
] %}

{% set breadcrumbs = [
	{
		'link': path('homepage'), 'title': 'Home'|trans,
	},
	{
		'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
	},
	{
		'title': 'Categorias'|trans
	}
] %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if categories|length %}
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'Nome'|trans }}</th>
                        <th class="table-min-width table-center">{{ 'Apelido'|trans }}</th>
                        <th class="table-min-width"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for category in categories %}
                        {% include 'AdminBundle::Category/row.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(categories) }}
            </div>
        </div><!-- /.table-wrapper -->
    {% else %}
        {{ include('AppBundle::Helper/empty.html.twig') }}
    {% endif %}
{% endblock %}