{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'categories' %}

{% set title = 'Atualizar Categorias'|trans ~ ' ' ~ category.getName() %}

{% set breadcrumbs = [
    {
        'link': path('homepage'), 'title': 'Home'|trans,
    },
    {
        'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
    },
    {
        'link': path('admin_category'), 'title': 'Categoria'|trans,
    },
    {
        'title': 'Atualizar Categorias'|trans
    }
] %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}