<ul class="nav nav-primary flex-column">
    <li class="nav-item">
        <a href="{{ path('admin_dashboard') }}" class="nav-link {% if active is defined and active == 'dashboard' %}active{% endif %}">
            <i class="fa fa-tachometer"></i><span>{{ 'Painel de Controle'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_listing') }}" class="nav-link {% if active is defined and active == 'listings' %}active{% endif %}">
            <i class="fa fa-map-marker"></i><span>{{ 'Lugares'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_claim') }}" class="nav-link {% if active is defined and active == 'claims' %}active{% endif %}">
            <i class="fa fa-hand-paper-o"></i><span>{{ 'Reivindicações'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_report') }}" class="nav-link {% if active is defined and active == 'reports' %}active{% endif %}">
            <i class="fa fa-flag"></i><span>{{ 'Relatórios'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_post') }}" class="nav-link {% if active is defined and active == 'posts' %}active{% endif %}">
            <i class="fa fa-book"></i><span>{{ 'Posts do Blog'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_review') }}" class="nav-link {% if active is defined and active == 'reviews' %}active{% endif %}">
            <i class="fa fa-star"></i><span>{{ 'Análises'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_order') }}" class="nav-link {% if active is defined and active == 'orders' %}active{% endif %}">
            <i class="fa fa-shopping-cart"></i><span>{{ 'Ordens'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_user') }}" class="nav-link {% if active is defined and active == 'users' %}active{% endif %}">
            <i class="fa fa-users"></i><span>{{ 'Usuários'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_inquire') }}" class="nav-link {% if active is defined and active == 'inquires' %}active{% endif %}">
            <i class="fa fa-comment"></i><span>{{ 'Perguntas'|trans }}</span>
        </a>
    </li>            

    <li class="nav-item">
        <a href="{{ path('admin_subscriber') }}" class="nav-link {% if active is defined and active == 'subscribers' %}active{% endif %}">
            <i class="fa fa-envelope"></i><span>{{ 'Inscritos'|trans }}</span>
        </a>
    </li>                        
</ul>

<strong class="nav-primary-title">{{ 'Taxonomies'|trans }}</strong>

<ul class="nav nav-primary flex-column">
    <li class="nav-item">
        <a href="{{ path('admin_category') }}" class="nav-link {% if active is defined and active == 'categories' %}active{% endif %}">
            <i class="fa fa-tags"></i><span>{{ 'Categorias'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_location') }}" class="nav-link {% if active is defined and active == 'locations' %}active{% endif %}">
            <i class="fa fa-map-o"></i><span>{{ 'Locais'|trans }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('admin_amenity') }}" class="nav-link {% if active is defined and active == 'amenities' %}active{% endif %}">
            <i class="fa fa-check"></i><span>{{ 'Facilidades'|trans }}</span>
        </a>
    </li>
</ul>