{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'listings' %}

{% set title = 'Lugares'|trans %}

{% set actions = [
    {
        'link': path('admin_listing_create'),
        'title': 'Adicionar um lugar'|trans,
    }
] %}

{% set breadcrumbs = [
    {
        'link': path('homepage'), 'title': 'Home'|trans,
    },
    {
        'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
    },
    {
        'title': 'Lugares'|trans
    }
] %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if listings|length %}
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Título'|trans }}</th>
                        <th class="table-center">{{ 'Categoria'|trans }}</th>
                        <th class="table-center">{{ 'Publicado'|trans }}</th>
                        <th class="table-center">{{ 'Destaque'|trans }}</th>
                        <th class="table-center">{{ 'Verificado'|trans }}</th>
                        <th class="table-min-width"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td>
                                <div class="table-card">
                                    <div class="table-card-image"
                                        {% if listing.getFeaturedImage() %}
                                            style="background-image: url('{{ vich_uploader_asset(listing.getFeaturedImage(), 'image') }}');"
                                        {% endif %}>
                                    </div><!-- /.table-card-image -->

                                    <div class="table-card-content">
                                        <div class="table-card-content-inner">
                                            <div class="table-card-title">
                                                <a href="{{ path('listing_detail', {'slug': listing.getSlug()}) }}" target="_blank">
                                                    {{ listing.getName() }}
                                                </a>
                                            </div><!-- /.table-card-title -->

                                            {% if listing.getPrice() %}
                                                <div class="table-card-subtitle">
                                                    {{ 'Preço'|trans }}: {{ listing.getPrice()|localizedcurrency(currency) }}
                                                </div><!-- /.table-card-subtitle -->
                                            {% endif %}
                                        </div><!-- /.table-card-content-inner -->
                                    </div><!-- /.table-card-content -->
                                </div><!-- /.table-card -->
                            </td>

                            <td class="table-min-width table-center">
                                {% if listing.getCategory() %}
                                    <a href="{{ path('category_detail', {'slug': listing.getCategory().getSlug()})}}" target="_blank">
                                        {{ listing.getCategory().getName() }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                            <td class="table-min-width table-center table-status">
                                {% if listing.getIsPublished() %}
                                    <i class="fa fa-check"></i>
                                {% else %}
                                    <i class="fa fa-close"></i>
                                {% endif %}
                            </td>

                            <td class="table-min-width table-center table-status">
                                {% if listing.getIsFeatured() %}
                                    <i class="fa fa-check"></i>
                                {% else %}
                                    <i class="fa fa-close"></i>
                                {% endif %}
                            </td>

                            <td class="table-min-width table-center table-status">
                                {% if listing.getIsVerified() %}
                                    <i class="fa fa-check"></i>
                                {% else %}
                                    <i class="fa fa-close"></i>
                                {% endif %}
                            </td>

                            <td class="table-min-width">
                                <div class="btn-group">
                                    <a href="{{ path('admin_listing_update', {'id': listing.getId()}) }}" class="btn">
                                        {{ 'Atualizar' }}
                                    </a>

                                    <a href="{{ path('admin_listing_delete', {'id': listing.getId()}) }}" class="btn">
                                        {{ 'Deletar' }}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(listings) }}
            </div><!-- /.navigation -->
        </div><!-- /.table-wrapper -->
    {% else %}
        {{ include('AppBundle::Helper/empty.html.twig') }}
    {% endif %}
{% endblock %}