{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'subscribers' %}

{% set title = 'Inscritos'|trans %}

{% set actions = [
	{
		'link': path('admin_subscriber_create'),
		'title': 'Novo Inscrito'|trans,
	}
] %}

{% set breadcrumbs = [
	{
		'link': path('homepage'), 'title': 'Home'|trans,
	},
	{
		'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
	},
	{
		'title': 'Inscritos'|trans
	}
] %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if subscribers|length %}
        <div class="table-wrapper">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Nome'|trans }}</th>                        
                        <th class="table-min-width"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for subscriber in subscribers %}
                        {% include 'AdminBundle::Subscriber/row.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(subscribers) }}
            </div>
        </div><!-- /.table-wrapper -->
    {% else %}
        {{ include('AppBundle::Helper/empty.html.twig') }}
    {% endif %}
{% endblock %}