<tr>
    <td>{{ subscriber.getEmail() }}</td>

    <td class="table-min-width">
        <div class="btn-group">
            <a href="{{ path('admin_subscriber_update', {'id': subscriber.getId()}) }}" class="btn">
                {{ 'Atualizar' }}
            </a>

            <a href="{{ path('admin_subscriber_delete', {'id': subscriber.getId()}) }}" class="btn">
                {{ 'Deletar' }}
            </a>
        </div>
    </td>
</tr>