{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'subscribers' %}

{% set title = 'Atualizar Inscrito'|trans ~ ' ' ~ subscriber.getEmail() %}

{% set breadcrumbs = [
    {
        'link': path('homepage'), 'title': 'Home'|trans,
    },
    {
        'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
    },
    {
        'link': path('admin_subscriber'), 'title': 'Inscritos'|trans,
    },
    {
        'title': 'Atualizar Inscrito'|trans
    }
] %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}