{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'reviews' %}

{% set title = 'Criar Revisão'|trans %}

{% set breadcrumbs = [
    {
        'link': path('homepage'), 'title': 'Home'|trans,
    },
    {
        'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
    },
    {
        'link': path('admin_review'), 'title': 'Revisão'|trans,
    },
    {
        'title': 'Criar Revisão'|trans
    }
] %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}