{% extends 'FrontBundle::Layout/base.html.twig' %}

{% set menu_active = 'home' %}
    
{% block title %}{{ 'Ilha da Magia - Descubra Floripa'|trans }}{% endblock %}

{% block body_class %}header-transparent{% endblock %}

{% block content %}
    {% include 'FrontBundle::Helper/hero.html.twig' %}

    <div class="container">
        <div class="content mb-70">
            {% if locations|length %}
                {% include 'FrontBundle::Helper/page_title.html.twig' with {title: "Descubra os melhores lugares", description: "Locais mais visitados. Não achou sua cidade? Fique à vontade para nos contar.
"} %}

                <div class="locations-wrapper">
                    <div class="row">
                        {% for location in locations %}
                            <div class="col-md-4">
                                {% include 'FrontBundle::Location/box.html.twig' %}
                            </div><!-- /.col-* -->
                        {% endfor %}
                    </div><!-- /.row -->
                </div><!-- /.locations-wrapper -->
            {% endif %}

            {% if listings|length %}
                {% include 'FrontBundle::Helper/page_title.html.twig' with {title: "Lugares Adicinados Recentemente"|trans, description: "Descubra os lugares adicionados recentemente"|trans} %}

                <div class="listings-wrapper">
                    <div class="row">
                        {% for listing in listings %}
                            <div class="col-md-4">
                                {% include 'FrontBundle::Listing/box.html.twig' %}
                            </div><!-- /.col-* -->
                        {% endfor %}
                    </div><!-- /.row -->
                </div><!-- /.listings-wrapper -->
            {% endif %}

            {% if categories|length %}
                {% include 'FrontBundle::Helper/page_title.html.twig' with {title: "Categorias & Interesses", description: "Categorias mais populares no sistema ordenadas pelo maior número de listagens atribuídas."} %}

                <div class="categories-wrapper">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-md-3">
                                {% include 'FrontBundle::Category/box.html.twig' %}
                            </div><!-- /.col-* -->
                        {% endfor %}
                    </div><!-- /.row -->
                </div><!-- /.categories-wrapper -->

                <div class="btn-center">
                    <a href="{{ path('category') }}" class="btn btn-primary">{{ 'Mostrar Todas Categorias'|trans }}</a>
                </div><!-- /.btn-center -->
            {% endif %}

            {% if posts|length %}
                {% include 'FrontBundle::Helper/page_title.html.twig' with {
                    title: "Dicas & Novidades",
                    description: "Leia as postagens do blog sobre nossas recomendações e experiências.",
                    class: "border-top"
                } %}

                <div class="posts-wrapper">
                    <div class="row">
                        <div class="col-md-10 push-md-1">                    
                            {% for post in posts %}                    
                                {% include 'FrontBundle::Post/row.html.twig' %}
                            {% endfor %}
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->                    
                </div><!-- /.posts-wrapper -->

                <div class="btn-center">
                    <a href="{{ path('post')}}" class="btn btn-primary">
                        {{ 'Ver todos os posts'|trans }}
                    </a>
                </div><!-- /.btn-center -->
            {% endif %}
        </div><!-- /.content -->
    </div><!-- /.container -->
{% endblock %}