{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'inquires' %}

{% set title = 'Perguntas'|trans %}

{% set actions = [
	{
		'link': path('admin_inquire_create'),
		'title': 'Nova Pergunta'|trans,
	}
] %}

{% set breadcrumbs = [
	{
		'link': path('homepage'), 'title': 'Home'|trans,
	},
	{
		'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
	},
	{
		'title': 'Perguntas'|trans
	}
] %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if inquires|length %}
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Nome'|trans }}</th>
                        <th>{{ 'Local'|trans }}</th>                                                
                        <th>{{ 'Data'|trans }}</th>
                        <th class="table-min-width"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for inquire in inquires %}
                        {% include 'AdminBundle::Inquire/row.html.twig' %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(inquires) }}
            </div>
        </div><!-- /.table-wrapper -->
    {% else %}
        {{ include('AppBundle::Helper/empty.html.twig') }}
    {% endif %}
{% endblock %}