{% trans with {
	'%listing_name%': inquire.getListing().getName(), 
	'%link%': app.request.getSchemeAndHttpHost()~path('listing_detail', {'slug': inquire.getListing().getSlug()}),
	'%name%': inquire.getName(),
	'%email%': inquire.getEmail(),
	'%message%': inquire.getMessage()
} %}
Olá,

nova mensagem de informação foi enviada de <a href="%link%">%listing_name%</a>.

---

<b>Nome</b>

%name%

<b>E-mail</b>

%email%

<b>Mensagem</b>

%message%
{% endtrans %}