{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'claims' %}

{% set title = 'Reivindicações'|trans %}

{% set breadcrumbs = [
	{
		'link': path('homepage'), 'title': 'Home'|trans,
	},
	{
		'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
	},
	{
		'title': 'Reivindicações'|trans
	}
] %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if claims|length %}
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="table-min-width">{{ 'Local'|trans }}</th>
                        <th class="table-min-width">{{ 'Usuário'|trans }}</th>
                        <th>{{ 'Mensagem'|trans }}</th>
                        <th class="table-min-width table-center">{{ 'Aprovado'|trans }}</th>
                        <th class="table-min-width"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for claim in claims %}
                        <tr>
                            <td class="table-min-width">
                                <a href="{{ path('listing_detail', {'slug': claim.listing.getSlug()}) }}" target="_blank">
                                    {{ claim.listing.getName() }}
                                </a>
                            </td>

                            <td class="table-min-width">                                
                                {{ claim.getUser().getDisplayName() }}
                            </td>                            

                            <td>{{ claim.getMessage() }}</td>

                            <td class="table-min-width table-center table-status">
                                {% if claim.getIsApproved() %}
                                    <i class="fa fa-check"></i>
                                {% else %}
                                    <i class="fa fa-close"></i>
                                {% endif %}
                            </td>

                            <td class="table-min-width">
                                <div class="btn-group">
                                    {% if not claim.getIsApproved() %}
                                        <a href="{{ path('admin_claim_approve', {'id': claim.getId() })}}" class="btn">{{ 'Aprovar'|trans }}</a>
                                    {% else %}
                                        {{ 'Nenhuma ação'|trans }}
                                    {% endif %}
                                </div><!-- /.btn-group -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(claims) }}
            </div>
        </div><!-- /.table-wrapper -->
    {% else %}
        {{ include('AppBundle::Helper/empty.html.twig') }}
    {% endif %}
{% endblock %}