{% extends 'FrontBundle::Layout/base.html.twig' %}

{% set title = 'Shopping Cart'|trans %}

{% block title %}{{ title }}{% endblock %}

{% set breadcrumbs = [
    {
        'link': path('homepage'), 'title': 'Home'|trans,
    },
    {
        'title': 'Carrinho'|trans
    }
] %}

{% block content %}    
    <div class="container">
        {% include 'FrontBundle::Helper/content_title.html.twig' %}

        {% if products|length %}
            <div class="cart-content">
                {% for product in products %}
                    <div class="cart-content-item">
                            {% spaceless %}
                                {% if product.type == 'pay_for_publish' %}
                                    <div class="cart-content-item-cell min-width remove">
                                        <a href="{{ path('cart_delete', {'type': 'pay_for_publish', 'listing_id': product.listing_id}) }}"><i class="fa fa-close"></i></a>
                                    </div><!-- /.cart-content-item-cell -->

                                    <div class="cart-content-item-cell">
                                        <h3>{{ 'Publish listing'|trans }} <a href="{{ path('listing_detail', {'slug': product.listing.getSlug()}) }}">{{ product.listing.getName() }}</a></h3>

                                        <p>
                                            {% set count = product.duration %}
                                            {% transchoice count %}
                                                {0} Will be published for %count% days|{1} Will be published for %count% day|]1,Inf[ Will be published for %count% days
                                            {% endtranschoice %}
                                        </p>
                                    </div><!-- /.cart-content-item-cell -->
                                {% elseif product.type == 'pay_for_featured' %}
                                    <div class="cart-content-item-cell min-width remove">
                                        <a href="{{ path('cart_delete', {'type': 'pay_for_featured', 'listing_id': product.listing_id}) }}"><i class="fa fa-close"></i></a>
                                    </div><!-- /.cart-content-item-cell -->

                                    <div class="cart-content-item-cell">
                                        <h3>{{ 'Feature listing'|trans }} <a href="{{ path('listing_detail', {'slug': product.listing.getSlug()}) }}">{{ product.listing.getName() }}</a></h3>

                                        {% spaceless %}                                                                        
                                            <p>
                                                {% set count = product.duration %}
                                                {% transchoice count %}
                                                    {0} Will be featured for %count% days|{1} Will be featured for %count% day|]1,Inf[ Will be featured for %count% days
                                                {% endtranschoice %}
                                            </p>
                                        {% endspaceless %}
                                    </div><!-- /.cart-content-item-cell -->
                                {% endif %}
                            {% endspaceless %}

                        <div class="cart-content-item-cell right min-width price">
                            {{ product.price|localizedcurrency(currency) }}
                        </div>
                    </div><!-- /.cart-content-item -->
                {% endfor %}
            </div><!-- /.cart-content -->

            <div class="cart-content-total">
                <span>{{ 'Total Price'|trans }}</span>
                <strong>{{ total|localizedcurrency(currency) }}</strong>
            </div>


            <div class="cart-actions">
                <a href="{{ path('cart_empty') }}" class="btn">{{ 'Empty cart'|trans }}</a>

                <a href="{{ path('checkout') }}" class="btn btn-primary">{{ 'Proceed to checkout'|trans }}</a>
            </div><!-- /.cart-actions -->
        {% else %}
            <div class="empty">
                <div class="empty-icon-wrapper">
                    <div class="empty-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div><!-- /.empty-icon -->
                </div><!-- /.empty-icon-wrapper -->

                <div class="empty-content">
                    <h4>{{ 'No products found'|trans }}</h4>
                    <p>{{ 'It looks like that you don\'t have any product in your cart.' }}</p>
                </div><!-- /.empty-content -->

                <a href="{{ path('homepage') }}" class="btn btn-primary">{{ 'Back to homepage'|trans }}</a>
            </div><!-- /.empty -->
        {% endif %}
    </div><!-- /.container -->
{% endblock %}