<tr>
    <td class="table-min-width table-center">
        {% if amenity.getFontIcon() %}
            <i class="fa {{ amenity.getFontIcon() }}"></i>
        {% else %}
            -
        {% endif %}
    </td>

    <td>{{ amenity.getName() }}</td>

    <td class="table-min-width table-center">
        <a href="{{ path('amenity', {'slug': amenity.getSlug()}) }}" target="_blank">
            {{ amenity.getSlug() }}
        </a>
    </td>

    <td class="table-min-width">
        <div class="btn-group">
            <a href="{{ path('admin_amenity_update', {'id': amenity.getId()}) }}" class="btn">
                {{ 'Atualizar' }}
            </a>

            <a href="{{ path('admin_amenity_delete', {'id': amenity.getId()}) }}" class="btn">
                {{ 'Deletar' }}
            </a>
        </div>
    </td>
</tr>