{% extends 'AdminBundle::Layout/base.html.twig' %}

{% set active = 'amenities' %}

{% set title = 'Atualizar Facilidades'|trans ~ ' ' ~ amenity.getName() %}

{% set breadcrumbs = [
    {
        'link': path('homepage'), 'title': 'Home'|trans,
    },
    {
        'link': path('admin_dashboard'), 'title': 'Dashboard'|trans,
    },
    {
        'link': path('admin_amenity'), 'title': 'Facilidades'|trans,
    },
    {
        'title': 'Atualizar Facilidade'|trans
    }
] %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}